In [6]:
import yfinance as yf
import pandas as pd

In [3]:
msft = yf.Ticker("MSFT")

In [22]:
info = msft.info
df = pd.DataFrame()
df = pd.Series(info)
df

zip                                                           98052-6399
sector                                                        Technology
fullTimeEmployees                                                 221000
longBusinessSummary    Microsoft Corporation develops, licenses, and ...
city                                                             Redmond
                                             ...
dayHigh                                                           237.24
coinMarketCapLink                                                   None
regularMarketPrice                                                228.56
preMarketPrice                                                      None
logo_url                         https://logo.clearbit.com/microsoft.com
Length: 154, dtype: object

In [36]:
hist = msft.history(period="1m")

In [37]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-14 00:00:00-04:00,235.539993,237.240005,228.339996,228.559998,30187200,0,0

In [35]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "INFY AAPL MSFT",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1y",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

3 Failed downloads:
- INFY: Invalid input - interval=1y is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]
- AAPL: Invalid input - interval=1y is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]
- MSFT: Invalid input - interval=1y is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

In [29]:
df = pd.DataFrame()
data

Empty DataFrame
Columns: [(MSFT, Open), (MSFT, High), (MSFT, Low), (MSFT, Close), (MSFT, Adj Close), (MSFT, Volume), (SPY, Open), (SPY, High), (SPY, Low), (SPY, Close), (SPY, Adj Close), (SPY, Volume), (AAPL, Open), (AAPL, High), (AAPL, Low), (AAPL, Close), (AAPL, Adj Close), (AAPL, Volume)]
Index: []